:root {
    --success: #4CAF50; 
    --danger: #F44336;
    --logo: #239120; 
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.formError {
    color: var(--danger);
    padding: 5px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 */ 

a {
    text-decoration: none;
    color: black;
}