footer {
  display: flex;
  gap: 10px;
  padding: 20px;
  background-color: var(--app_theme);
  margin-top: auto; 
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  color: white; 
  width: 100%;
  position: fixed;  
  bottom: 0;
  z-index: 999;
}

.fMediaButtons {
  display: flex;
  gap: 10px;
}

.fMediaButtons div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  transition: all 0.3s ease;
  position: relative;
  text-align: center;
}

.fMediaButtons div:hover {
  background-color: #3b3e47;
}

.fInp {
  flex: 1;
}

.fInp input {
  width: 100%;
  padding: 10px;
  height: 38px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: var(--app_theme_font);
}

.fSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6e7a96;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.fSubmit:hover {
  background-color: #576a80;
}
