.user-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.chats-search {
  position: relative;
  flex: 1;
}

.searchIcon {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #888;
}

.chats-search input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
}

.chats-search input:focus {
  border-color: #6e7a96;
  background-color: #fff;
}
