.chats {
  width: 350px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  background: var(--gray_accent);
  color: white;
}


.chats .chat-h {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*.aside-search input:focus {
  border-color: #6e7a96;
  background-color: #fff;
}

.aside-chats {
  padding: 10px;
}*/ 